.form {

  .title {
    font-weight: bold;
  }

  .passwordFormRow {

    :global(.euiFormControlLayout) {
      border-radius: 6px;
    }
  
    :global(.euiFormControlLayout__childrenWrapper) {
      border-radius: 6px;
    }

    .passwordInput {
      border-radius: 6px;
      padding-left: .875rem;
    }

    .appendIcon {
      background-color: transparent !important;
      color: #BD271E;
    }
  }

  .description {
    font-size: .875rem;
    line-height: 1.313rem;
  }
}