.form {

  .passwordRecoveryText {
    border-bottom: 1.5px solid #D3DAE6;
    font-size: 2.125rem;
    font-weight: bold;
    line-height: 2.5rem;
    padding-bottom: .313rem;
  }

  .formRow {

    :global(.euiFormControlLayout) {
      border-radius: 6px;
    }
  
    :global(.euiFormControlLayout__childrenWrapper) {
      border-radius: 6px;
    }

    .appendIcon {
      background-color: transparent !important;
      color: #BD271E;
    }
  }

  .passwordInput {
    padding-left: .875rem;
  }

  .passRecoveryDescription {
    color: #69707D;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  
  .input {
    border-radius: 5px;
  }
  
  .formButtonRow {
    margin-top: 1.5rem !important;
  }

  .button {
    width: 100%;
  }

  .descriptionRow {
    margin-top: 1.5rem !important;
  }
}
